form {
  margin: 3rem 0 0 3rem;
  position: relative;
}

input:focus {
  outline: 0;
}

.inputCity {
    color: white;
    font-size: 3rem;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

.inputCity + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 2px solid white;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

.inputCity:focus + label {
  width: 70%;
}

.inputCity:focus + label > span,
.inputCity:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: white;
}

.inputCity + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: white;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: 1;
  cursor: text;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.inputCity.active input{
  border-radius: 5px 5px 0 0;
}

.resultBox {
  
}
.resultBox ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 70%;
  position: absolute;
  z-index: 1;
  border-radius: 2rem;
  max-height: 10rem;
  /* overflow-y: scroll; */
}

.autocomplete:hover {
  background: #efefef;
}
.autocomplete {
  list-style: none;
  background-color: white;
  color:  black;
  padding: 0.5rem;
  cursor: pointer;
}











@media (max-width: 600px) {
  form {
    margin: 3rem;
  }
  .inputCity {
    font-size: 1.7rem;
    margin: 0;
  }
  .inputCity + label {
    width: 100%;
  }
  .inputCity:focus + label {
    width: 100%;
  }
  .inputCity:focus + label > span,
  .inputCity:valid + label > span {
    top: -70px;
    font-size: 22px;
    color: white;
}
  .inputCity + label > span {
    font-size: 1.5rem;
    top: -33px;
    }
}