:root {
  --background-overlay: rgba(0, 0, 0, 0.3)
}

.App {
  /* background-image: url(./assets/bgBlizzard.png); */
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center center !important;
}

/* .overlay {
  background-color: rgba(0, 0, 0, .2);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
  color: white;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 98%;
    margin: auto;
}

.title {
    color: transparent;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700 bold;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    /* background-image: linear-gradient(180deg, #ffe993, #eb831c); */
    background-clip: text;
    -webkit-background-clip: text;
    padding: 1.25rem;
}

.container {
    width: 100%;
    /* margin: 5rem auto 0; */
    margin: 0;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
  
  footer p {
    color: #ccc;
  }
