:root {
  --background-overlay: rgba(0, 0, 0, 0.3)
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  transition: background-image 1s;
  -webkit-transition: background-image 1s;
  -moz-transition: background-image 1s;
  animation: fadeInOpacity 2s ease-in 1;
  -webkit-animation: fadeInOpacity 2s ease-in 1;
  -moz-animation: fadeInOpacity 2s ease-in 1;
  min-height: 100vh;
}

.App {
  /* width: 100%; */
  /* height: 100%; */
  background-color: var(--background-overlay);
  color: white;
  min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.title {
    color: transparent;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700 bold;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    /* background-image: linear-gradient(180deg, #ffe993, #eb831c); */
    background-clip: text;
    -webkit-background-clip: text;
    padding: 1.25rem;
}

.container {
    /* width: 100%; */
    /* margin-inline: auto; */
    margin: 0 auto;
    padding: 1rem;
}

footer {
    /* position: absolute;
    bottom: 0; */
    text-align: center;
    /* width: 100%;
    height: 2.5rem; */
}
  
  footer p {
    color: #ccc;
  }

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

