/* .App {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0,0.2);
  background: 
   url(../assets/bgBlizzard.png);
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center center !important;
  color: #fff;
  opacity: 0.6;
} */
  
/* .App:before {
  content: '';
  background: url(../assets/bgBlizzard.png) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
} */

/* .App {
  background-image: url(../assets/sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0,0.8);
  height: 100vh;
} */
.App {
  background: rgba(0, 0, 0, .2);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 98%;
    margin: auto;
}

.title {
    color: transparent;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700 bold;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    /* background-image: linear-gradient(180deg, #ffe993, #eb831c); */
    background-clip: text;
    -webkit-background-clip: text;
    padding: 1.25rem;
}

.container {
    width: 100%;
    /* margin: 5rem auto 0; */
    margin: 0;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
  
  footer p {
    color: #ccc;
  }
