h2, h3, h4 {
    margin: 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.currentDay {
    display: flex;
    justify-content: space-between;
    margin: 6rem 3rem 0;
    opacity: 1;
    animation: fadeInOpacity 2s ease-in 1;
    -webkit-animation: fadeInOpacity 2s ease-in 1;
    -moz-animation: fadeInOpacity 2s ease-in 1;
}
.location {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
}
.iconLocation {
    width: 1em;
    height: 1em;
}
.city {
    font-weight: 400;
}

.localtime {
    margin-bottom: 2em;
    text-align: left;
}

.mainInfoTemp {
    display: block;
    text-align: left;
    margin-top: 5rem;
}
.icon { 
    width: 7em;
    height: auto;
    margin: 0;
}
.temperature {
    font-weight: 700;
    font-size: 6em;
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); */
    /* text-shadow: 3px 4px 7px rgba(255, 255, 255, 0.185); */
}

.condition {
    font-weight: 700;
    font-size: 2em;
    padding-left: 0.2em;
}

.detailDay div {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.detailDay > div {
    margin-bottom: 3em;
}
.detailDay > div > img {
    display: flex;
    align-self: center;
    justify-self: center;
    grid-area: 1 / 1 / 3 / 2;
    width: 3em;
    height: auto;
}
.detailDay > div > h4 {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    align-items: end;
    font-weight: 400;
}
.detailDay > div > h2 {
    font-size: 2em;
    font-weight: 700;
    grid-area: 2 / 2 / 3 / 3;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}